<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Blog</title>
        <!-- BOOTSTRAP-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- MEDIUM STYLE EDITOR-->
        <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">  
        <!--CUSTOM CSS-->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <!-- FONTS-->
        <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Cookie&display=swap" rel="stylesheet">   
        <!--ICONS-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

<body>
  <div class = "container">
    <nav class="navbar navbar-expand-lg navbar-light  navfont">
        <a class="navbar-brand bigbrand" href="{% url 'post_list' %}">My Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse topnav" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/">Github</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://linkedin.com/">Linkedin</a>
            </li>
        </ul>
        </div>
        <div class="collapse navbar-collapse ml-auto topnav" id="navbarCollapse">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'post_new' %}">New Post</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'post_draft_list' %}">Drafts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Welcome : {{user.username}} </a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}"><i class="fa fa-user" aria-hidden="true"></i></a>
              </li>
              {% endif %}
            </ul>
          </div>   
        </div>       
 <!-- content block-->
 <div class="content container">
   <div class="row">
     <div class="col-md-8">
       <div class="blog-posts">
         {% block content %}

         {% endblock %}
       </div>
     </div>
   </div>
 </div>   
</body>
</html>